.body{
    background-attachment: fixed;

}

.title-title{
    padding: 10%;
    background-color:#ffffe6;
    color: #004e40;
    font-weight: bolder;
    width:100%;
    height:100%;
    font-size: small;
    /* text-align: center; */
    place-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 8px;
    overflow-wrap: break-word;
    word-break: break-word; /* Break long words */
    overflow-wrap: break-word;
    border-radius: 25px;
    justify-self: center;

}


.titles-container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    width:40%;
    height:200px;

}
.outer-container{
    width: 100%;
    position: absolute;
    bottom:15%;
    margin-left: 5%;
}

.div-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 20%;
}
.title-title:hover{
    background-color: rgba(255, 228, 196, 0.695);

}


.diff-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 5%;
}

.table-container{
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    width:20%;
    height:200px;


}


